* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
}
/* container CSS setup */
.container {
  background-color: #000;
  border: 10px red solid;
  border-radius: 50%;
  height: 40rem;
  width: 40rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 10%;
  right: 10%;
}
/* date and time css setup */
.watch-time,
.watch-date {
  font-family: "Sriracha", cursive;
  /* margin: 3rem; */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 50%;
}
/* individual css setup */
.hour,
.minute,
.second,
.date,
.month,
.day {
  color: #fff000;
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
